body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 25pt;
  padding: 5vh;
}

.fields {
  display: flex;
  flex-direction: column;

  height: 55vh;

  margin: 0 35vw;

  border: solid black;
  background-color: whitesmoke;
}

.fields > input,
.fields > button {
  margin: 2% 10%;
  height: 10%;
}

.fields > h1,
.fields > span {
  text-align: center;
}

.or {
  margin: 3%;
  font-size: smaller;
}

.forgot-account {
  text-align: center;
  color: rgb(12, 8, 238);
}

.forgot-account:hover {
  cursor: pointer;
  text-decoration: underline;
}
