* {
  box-sizing: border-box;
}

header {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 25pt;
  padding: 5vh;
}

.login-window {
  height: 55vh;

  margin: 0 35vw;

  border: solid black;
  background-color: whitesmoke;
}

form > input,
form > button {
  margin: 2% 10%;
  height: 2.2rem;
}

.login-window > h1,
.login-window span {
  text-align: center;
}

.or {
  margin: 3%;
  font-size: smaller;
}

.forgot-password {
  text-align: center;
  color: rgb(12, 8, 238);
}

.forgot-password:hover {
  cursor: pointer;
  text-decoration: underline;
}

form {
  display: flex;
  flex-direction: column;
}
