Flask==3.0.3
Werkzeug==3.0.3
flask_sqlalchemy==3.1.1
flask_migrate==4.0.7
pymysql==1.1.1
alembic==1.13.1
cryptography==42.0.8
flask-bcrypt==1.0.1
flask-jwt-extended==4.6.0
flask-mail==0.10.0
flask_cors