.welcome{
    color: rgba(255, 255, 255, 1);
    width: 600px;
    height: 80px;
    font-weight: 800px;
    font-size: 30px;
    padding-top: 75px;
    padding-left: 75px;
}

.description{
    margin: 150px auto;
    width: 70%;
}

.text-image{
    color: white;
}

.text-image h2{
    font-size: 42px;
}

.text-image p{
    font-size: 16px;
}

img{
    max-width: 320px;
    float: left;
    border: 3px solid white;
    border-radius: 10px;
    margin-right: 10px;
}