.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.home-page > * {
  color: white;
}

.home-page h1 {
  padding-top: 20px;
}

.home-page img {
  height: 430px;
  border: 3px solid white;
}

.home-page h2 {
  font-size: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.home-page p {
  text-wrap: wrap;
  text-align: justify;
  width: 700px;
  font-style: italic;
}
