header {
  background-color: rgba(70, 69, 69, 1);

  display: flex;
  flex-direction: row;
  align-items: center;

  height: 96px;
}

header h1 {
  font-size: 30px;
  font-weight: 700;
  color: rgba(204, 129, 63, 1);

  margin-left: 80px;
}

header span:first-of-type {
  margin-left: 55%;
}

.sign-up {
  background-color: rgba(168, 168, 168, 1);
  margin-right: 30px;
}

.sign-up:hover {
  color: rgba(168, 168, 168, 1);
  background-color: black;
}

.login {
  background-color: rgba(204, 129, 63, 1);
}

.login:hover {
  color: rgba(204, 129, 63, 1);
  background-color: black;
}

header span:active {
  opacity: 0.7;
}

header span {
  padding: 10px 10px;
  border-radius: 8px;
  cursor: pointer;
}
