nav {
  background-color: rgba(168, 168, 168, 1);
  padding: 5px;
}

nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;

  list-style-type: none;

  gap: 6%;
}

nav li:hover {
  text-decoration: underline;
  cursor: pointer;
<<<<<<< HEAD
}
=======
}

nav > ul > * {
  text-decoration: none;
  color: rgb(34, 33, 33);
}

nav > ul > *:hover {
  text-decoration: underline;
  cursor: pointer;
}
>>>>>>> 23a4e48d25a9b081a2b4cfeca625478a2ab705c6
