.reset-password {
    background-color: rgba(168, 168, 168, 1);
    width: 450px;
    height: 450px;
    margin: 50px auto;
  
    border-radius: 10px;
  }
  
  .reset-password h2 {
    background-color: rgba(70, 69, 69, 1);
    color: rgba(204, 129, 63, 1);
  
    padding: 20px;
    text-align: center;
  
    font-size: 20px;
  }
  
  .reset-password form {
    display: flex;
    flex-direction: column;
  }
  
  .reset-password .fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
  
    margin-top: 20px;
  }
  
  .reset-password .fields label {
    margin-left: 20px;
    font-size: larger;
  }
  
  .reset-password .fields > input {
    margin: 0px 20px;
    font-size: 18px;
    padding: 5px 0px;
  
    border: none;
    border-radius: 5px;
  }
  .reset-password input[type="submit"] {
    background-color: rgba(70, 69, 69, 1);
    color: rgba(204, 129, 63, 1);
  
    padding: 10px 50px;
    margin: 30px 120px;
  
    border: none;
    border-radius: 10px;
  }
  
  .reset-password input[type="submit"]:hover {
    color: rgba(70, 69, 69, 1);
    background-color: rgba(204, 129, 63, 1);
    cursor: pointer;
  }
  
  .reset-password input[type="submit"]:active {
    opacity: 0.7;
  }
  
  .reset-password > form > span {
    color: #464545;
    text-align: center;
    text-wrap: wrap;
  
    align-self: center;
    margin-top: 20px;

    width:70%;
  }
