.main-teamcreation form {
  width: 1200px;
  margin: 20px auto;
  max-width: 80vw;
}

.main-teamcreation .top-display {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 20px 20px;
}

.main-teamcreation h1 {
  text-align: center;
}

.main-teamcreation h2 {
  color: #cc813f;
  font-weight: 800;
  margin-right: 20px;
}

.main-teamcreation .top-display .team-name {
  background-color: #464545;
  height: 35px;
}

.main-teamcreation .top-display .team-name input {
  border: none;
  border-bottom: solid #a8a8a8 1px;
  background-color: #464545;

  height: 32px;

  color: white;
  font-size: 12pt;
}

.main-teamcreation ul {
  list-style-type: none;
  background-color: #464545;

  height: 300px;
  overflow: auto;

  margin-bottom: 20px;
}

.main-teamcreation ul li {
  padding: 20px 0px;
  margin: 0px 20px;

  border-bottom: solid #a8a8a8 1px;
}

.main-teamcreation li label {
  color: #ffffff;
  font-weight: 200;
  font-size: 12pt;
}

.main-teamcreation li input {
  margin-right: 15px;
  margin-left: 10px;
}

.main-teamcreation .buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  gap: 20px;
}

.buttons > * {
  color: #cc813f;
  background-color: #464545;

  width: 100px;
  height: 30px;

  cursor: pointer;
  border: none;
}

.main-teamcreation .buttons button:hover {
  background-color: #cc813f;
  color: #464545;
}

.main-teamcreation .buttons button:active {
  opacity: 0.7;
}
